.title {
  position: relative;
  margin-bottom: 17px;
  padding-left: 23px;
  font-size: 18px;
  font-weight: 600;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 20px;
    background-color: #ffc000;
    border-radius: 3px;
    transform: translateY(-50%);
  }
  &.tg::before {
    background: #ff7a32;
  }
}
