@import '../../../../styles/base.scss';

.item {
  @include flex-center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 4.5px;
  width: 100%;
  height: 70px;
  font-size: 16px;
  font-weight: 600;
}

.success {
  color: #16d481;
}
