@import '../../../../styles/base.scss';

.item {
  @include flex-center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 4.5px;
  width: 100%;
  height: 70px;
  font-size: 16px;
  font-weight: 600;
}

.success {
  color: #16d481;
}

.price {
  @include flex-center;
}

.icon {
  margin-right: 6px;
  display: block;
  width: 11px;
  height: 15px;
  background: url('../../../../assets/images/home/dj.png') no-repeat;
  background-size: 100%;
}

.disabled {
  p {
    color: #a0a0a0;
  }
}
