@import '../../../../styles/base.scss';

.course {
  display: flex;
  padding: 15px;
  padding-right: 0;
  padding-bottom: 2px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 15px 0px rgba(216, 215, 234, 0.5);
  border-radius: 15px;
}

.cover {
  margin-right: 5px;
  width: 75px;
  height: 90px;
  border-radius: 10px;
  background: rgba(215, 214, 222, 1);
  img {
    width: 75px;
    height: 90px;
    border-radius: 10px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  flex: 1;
  padding-left: 10px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}
.title {
  @include text-overflow;
  width: 220px;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 500;
}
.msg {
  font-size: 12px;
  color: #666;
  i {
    color: #fe750d;
  }
}
.footer {
  @include flex-center;
  padding: 15px 8px;
  border-radius: 10px;
  background-color: #fff;
}
.btn,
.subBtn {
  @include btn;
  padding: 0 10px;
  margin-left: 8px;
}
.subBtn {
  @include subBtn;
}

.disabled {
  background: #d9d5de;
  box-shadow: none;
}
.yq {
  @include flex-center;
  font-size: 12px;
  color: #999;
  i {
    margin-right: 7px;
    display: block;
    width: 12px;
    height: 12px;
    background: url('../../../../assets/images/home/icon_yq.png') no-repeat;
    background-size: 100%;
  }
}

.mask {
  position: relative;
  z-index: 1200;
  &-content {
    @include flex-col-center;
    position: absolute;
    z-index: 1300;
    bottom: 110%;
    p {
      font-size: 12px;
      color: #fff;
      margin-bottom: 9px;
    }
    i {
      display: block;
      width: 27px;
      height: 27px;
      background: url('../../../../assets/images/yd-arrow.png') no-repeat;
      background-size: 100%;
    }
  }
}
