@import '../../../styles/base.scss';

@mixin icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  position: relative;
  margin-bottom: 10px;
}
.icon-phone {
  @include icon;
  width: 10px;
  height: 15px;
  background: url('../../../assets/images/phone.png') no-repeat;
  background-size: 100%;
}
.icon-code {
  @include icon;
  width: 12px;
  height: 13px;
  background: url('../../../assets/images/bh.png') no-repeat;
  background-size: 100%;
}
.codeBtn {
  @include flex-center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 14px;
  color: #feb312;
}
.disabled {
  color: #333333;
}
.btn {
  @include flex-center;
  margin: 0 auto;
  margin-top: 25px;
  width: 300px;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(
    -37deg,
    rgba(255, 192, 0, 1),
    rgba(254, 179, 18, 1)
  );
  box-shadow: 0px 4px 4px 0px rgba(255, 181, 76, 0.4);
  border-radius: 25px;
}
.popup {
  border-radius: 15px;
  padding: 26px;
  &Wrap {
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    width: 261px;
    height: 266px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    background-color: #fff;
  }
}
